.errortext {
    float: right;
    
    color: red;
}
.successmessage {
    color: rgb(102, 222, 16)
}
.inputrules {
    clear: both;
    color: #8AA3AA
}
fieldset {
    border-style: none;
}

body {
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top: 0%;
    background-color: #D0F1FF;
}
#pagetitle {
    
    font-size: 27px ;
    text-shadow:  1.6px 1.5px 0.4px  #dddddd;
}
#backbutton{
    font-weight: 500;
    font-size: 23px;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 9px;
    padding: 7px  30px;
    margin-right: 20px;
}
#backbutton:hover {
    outline: 3px solid white;
    outline-offset: -6px;
}
#topbar {
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #dddddd;
    z-index: 90;
}
#body {
    margin-top: 10px;

    background-color: transparent;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    position: absolute;
    gap: 25px;
    top: 90px;
    height: 568px;
    width: 638px;
}
#body > div {
    background-color: white;
    border-radius: 7px;
    padding: 12px 12px;
    width: 100%;

    outline-style: dashed;
    outline-color: rgb(153, 218, 231);
    outline-width: 3px;
    
}
#groupprofile{
    height: 115.688px;
}
#groupprofile > svg{
    height: 100%;
    float: left;
    width: 15%;
}
#groupstats {
    display: flex;
    
    justify-content: space-around;
    justify-items: center;
    gap: 0px;
    
    width: 90%;
    height: 15%;
}
#membersstat,#sessionstat,#taskstat,#StudyLevel,#creationstat {
    text-align: center;
    align-self: center;
    width: fit-content;
    font-size: 14px;
    color: #8AA3AA;
}
#StudyLevel,#StudyLevel.HighSchool{
    margin-top: auto;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 8px;
    font-size: 12px;
    color: rgb(61, 61, 234);
    background-color: #c1f2ff;
}

#StudyLevel.Bachelor {
    color: rgb(234, 156, 61);
    background-color: #ffe9c1;
}
#StudyLevel.Master {
    color: rgb(234, 61, 61);
    background-color: #ffc1c1;
}
#highschoolbutton,#bachelorbutton,#masterbutton{
    border-radius: 7px;
    width: 100px;
    height: 23px;
    margin-right: 7px;

    border: 2px solid blue;
    color: blue;
    background-color: white;
}
#bachelorbutton {
    border-color: orange;
    color: orange;
}
#masterbutton {
    border-color: red;
    color: red;
}

#highschoolbutton:hover,#highschoolbutton.selected{
    color: white;
    background-color: blue;
}
#bachelorbutton:hover,#bachelorbutton.selected {
    background-color: orange;
    color: white;
}
#masterbutton:hover,#masterbutton.selected {
    background-color: red;
    color: white;
}

#groupname{
    font-size: 16px;
    font-weight: 500;
}
#groupsubject{
    font-weight: 500;
    font-size: 14px;
}
#groupdesc{
    overflow-wrap: break-word;
    overflow-y: auto;
    color: #8AA3AA;
    max-width: 398px;;
    font-size: 13px;
    height: 55px;
}
#editgroupbutton,#joingroupbutton,#requestgroupbutton,#canceldeletegroupbutton,#createsessionbutton,#canceldeletesessionbutton,
#canceldeletetaskbutton{
    
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: blue;
    display: block;
    width: 100%;
    height: 23px;

}
#editgroupbutton:hover,#joingroupbutton:hover,#createsessionbutton:hover,#newtaskbutton:hover,
#newsessionbutton:hover,.clickedv2,#requestgroupbutton:hover,
#canceldeletegroupbutton:hover,#canceldeletesessionbutton:hover,
#canceldeletetaskbutton:hover{
    outline: 2px solid white;
    outline-offset: -4px;
}

#deletegroupbutton,#leavegroupbutton,#finaldeletegroupbutton,#finaldeletesessionbutton,
#finaldeletetaskbutton{
    
    border-radius: 5px;
    border: 3px solid #eb2929;
    background-color: white;
    color: #eb2929;
    display: block;
    width: 100%;
    height: 23px;
}
.clickeddeletegroupbutton,#leavegroupbutton:hover,#deletegroupbutton:hover,
#finaldeletegroupbutton:hover,#finaldeletesessionbutton:hover,
#finaldeletetaskbutton:hover{
    background-color: #eb2929;
    color: white;
}

#groupid{
    margin-top: auto;
    text-align: center;
    font-size: 14px;
    color: #8AA3AA;
}

#grouptabs > div {
    width: 98%;
    justify-self: center;
}
#grouptabs > hr {
    margin-top: 6px;
    border-style: solid;
    border-color: #D0F1FF;
}
#tabs {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.selectedtab,#tabs > div:hover{
    outline-offset: -3px;
    outline: 3px solid #8AA3AA;
}
#tabs > div {
    font-weight: 400;
    border-radius: 6px;
    padding: 12px 8px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    gap: 6px;
    align-items: center;
}

#tabcontent {
    min-height: 370px;

}
#tabcontent > div {
    width: 100%;   
}
#upcomingsessions,#pastsessions,#pendingtasks,#memberslist,#requestslist ,#inprogresstasks,#completedtasks  
{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: start;
}
.tabcontenttitle{
    color: black;
    font-size: 14px;
    align-content: center;
    margin: 10px 0px;
    clear: both;
}
#upcomingsessionref,#pastsessionref{
    display: none;
}

#memberslist,#requestslist{
    width: 100%;
    flex-direction: row;
    gap: 1.3%;
    row-gap: 9px;
}

.session,.task{
    display: flex;
    flex-direction: column;

    padding: 6px;
    padding-left: 13px;
    border-radius: 13px;
    align-self: center;
    border: 3px solid #8AA3AA;
    width: 95.8%;
    min-height: 90px;
    transition: border-color 0.5s ease;
}
.sessiontitle,.tasktitle {
    align-content: center;
    height: 100%;
    font-size: 13px;
    font-weight: 500;
    color: black;
    float: left;
}
.sessiondetails,.taskdetails {
    font-size: 13px;
    color:#8AA3AA;
    margin-top: 3px;
    margin-bottom: 7.5px;
}
.taskdetails {
    margin-top: 9px;
    margin-bottom: 0px;
}
.sessiondetails > div,
.taskdetails> div {
    align-items: center;
    height: 17.6px;
    float: left;
}
.taskduedate,.taskduetime ,.sessionattendees,.sessiondate,.sessionlocation,.sessiontime,.taskassignees{
    float: left;
    margin-left: 7px;
}
.taskassignees{
    max-height: 35px;
    max-width: 350px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.sessiondesc,.taskdesc {
    overflow-wrap: break-word;
    background-color: #D0F1FF;
    color: #667a80;
    align-content: center;
    padding: 2px 1.8%;
    min-height: 25px;
    font-size: 14px;
    width: 95.5%;
    border-radius: 6px;
    margin-top: auto;
}
.taskdesc{
    background-color: #D0F1FF;
    margin: 7px 0px;
    color: #748b92;
    padding: 5px 1.8%;
    font-size: 13px;
}
.taskstatus{
    padding: 2px 1.8%;
    width: 95.5%;
    height: 20px;
    margin-top: auto;
    margin-bottom: 2px;
}

.pendingbutton,.inprogressbutton,.completedbutton{
    background-color: #D0F1FF;
    border-style: none;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 3px;
    font-size: 12px;
}
.pendingbutton:hover,.inprogressbutton:hover,.completedbutton:hover{
    background-color: rgb(9, 148, 255);
    color: #D0F1FF;
}
.selectedstatus {
    background-color: rgb(9, 148, 255);
    color: white;
}
.edittabbutton{
    float: right;
    border-radius: 5px;
    border: 3px solid #a0bfc7;
    color: #a0bfc7;;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1.5px 5px ;
}
.edittabbutton:hover{
    background-color: #a0bfc7;
    color: white;
}
.redbutton,.attendbutton,.unattendbutton,.deletebutton,.kickbutton{
    margin-left: 7px;
    float: right;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #eb2929;
    height: fit-content;
    width: fit-content;
    padding: 4px 5px  ;
}
.redbutton:hover,.attendbutton:hover,.unattendbutton:hover,.deletebutton:hover,
.kickbutton:hover,.declinebutton:hover,.acceptbutton:hover{
    outline: 2px solid white;
    outline-offset: -4px;
}
.kickbutton{
    margin-bottom: auto;
    align-self: flex-end;
}
.requestbuttons,.memberbuttons{
    float: right;
    display: flex;
    height: 100%;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
}
.declinebutton{
    display: block;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #eb2929;
    height: fit-content;
    width: 100%;
    padding: 3px 5px  ;
}
.acceptbutton{
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: blue;
    height: fit-content;
    width: 100%;
    padding: 3px 5px  ;
}
#newsessionbutton,#newtaskbutton {
    align-content: center;
    justify-self: center;
    width: 110px;
    border-style: none;
    padding: 4px 2px;
    border-radius: 6px;
    color: white ;
    background-color: blue ;
    float: right;
}

.groupmember,.requestmember{
    border-radius: 6px;
    width: 45.5%;
    outline-offset: -2px;
    outline: 3px solid #8AA3AA ;
    background-color: transparent;
    height: 65px;
    padding: 7px 1.2%;
    padding-left: 2%;
}
.requestmember{
    height: 40px;
}
.profileimage{
    float: left;
    fill: lightgreen;
    margin: 12.5px 0px;
    align-content: center;
}
.requestprofileimage {
    float: left;
    fill: lightgreen;
    margin: 0px 0px;
    align-content: center;
}
.memberdetails,.requestdetails{
    
    height: 100%;
    display: flex;
    align-content: center ;
    justify-content: left;
    flex-direction: column;
    margin-left: 10px;
    float: left;
}
.requestdetails{
    justify-content: center;
}
.memberemail,.requestemail{
    
    max-width: 155px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}
.memberrole{
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 1px;
    width: fit-content;
    border-radius: 5px;
    padding: 1px 6px;
    background-color: transparent;
    outline: 2px solid #8AA3AA;;
    outline-offset: -2px;
    
}

.memberusername{
    font-size: 14px;
    max-width: 165px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.requestusername{
    max-width: 165px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.owner{
    background-color: blue;
    color: white;
    outline-color: blue;
}
.admin{
    color: #65787d;
    background-color: #D0F1FF;
    outline-color: #D0F1FF;
}

.setadminbutton, .setmemberbutton{
    margin-top: auto;
    border-radius: 5px;
    border-style: none;
    outline: 2.5px solid #a0bfc7;
    outline-offset: -3px;
    color: #a0bfc7;
    font-size: 12px;
    background-color: white;
    height: 24px;
    width: 100%;
    padding: 1.5px 5px ;
    
}
.setadminbutton:hover, .setmemberbutton:hover{
    background-color: #a0bfc7;
    color: white;
}
#editgroupmenu,#deletegroupmenu,#createsessionmenu,
#createtaskmenu,#editsessionmenu,#deletesessionmenu,
#deletetaskmenu,#edittaskmenu{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    z-index: 89;
    background-color: white;
    border-radius: 20px;
    z-index: 89;
}
.taskassigneelist{
    clear: both;
    margin-top: 30px;
    background-color: #D0F1FF;
    justify-self: center;
    padding: 2%;
    width: 85%;
    border-radius: 10px;
    max-height: 200px;

    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}
.taskassignee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    height: 26px;
}
.membercheckbox{
    width: 19px;
    margin: 0px 10px;
    height: 19px;
    float: right;
    
}
.tickallbutton{
    float: right;
    background-color: white;
    color: #8AA3AA;
    border: 3px solid #8AA3AA;
    border-radius: 5px;
    margin-right: 0px
}
.tickallbutton:hover{
    background-color: #8AA3AA;
    color: white;
}
.cancelbutton{
    text-align: center;
    height: 100%;
    width: 50%;
    font-size: 17px;
    border-radius: 10px;
    color: #eb2929;
    border: 3px solid #eb2929;
    padding: 2px 0px ;
    background-color: white;
}
.cancelbutton:hover{
    background-color: #eb2929;
    color: white;
}
.bloctitle {
    justify-self: center;
    margin: 0% 0%;
    font-weight: 500;
}
.field {
    gap : 15px ;
    padding: 0px 20px;
    display: flex;
    width: 360px;
    justify-self: center;
    flex-direction: column;
    align-items: flex-start;
}
.field > div {
    width: inherit;
}
.field > div > input,
.field > div > textarea{
    resize: none;
    color: #8AA3AA;
    border-radius: 6px;
    padding: 2px 4px;
    border: 2px solid #8AA3AA;
    display: block;
    justify-self: center;
    width: 348px;
}
.fieldlabel {
    float: left;
}
.inputrules {
    clear: both;
    color: #8AA3AA
}
#publicbutton{
    border-radius: 7px;
    width: 70px;
    height: 23px;
}
#privatebutton{
    border-radius: 7px;
    width: 70px;
    height: 23px;
    margin-right: 7px;
}
.selectedtype{
    border-style:none;
    color: white;
    background-color: blue;
}
.unselectedtype{
    border: 2px solid blue;
    color: blue;
    background-color: white;
}
.centeredfield {
    height: 30px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.editbutton,.createbutton {
    text-align: center;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    font-size: 18px;
    width: 50%;
    padding: 2px 0px ;
    border-color: #8AA3AA;
    background-color: transparent;
    color: #8AA3AA;
}
.createbutton{
    background-color: blue;
    border-color: blue;
    color: white;
}
.editbutton:hover{
    background-color: #8AA3AA;
    color: white;
}
.createbutton:hover{
    outline: 3px solid white;
    outline-offset: -6px;
}
#colorlist {
    display: flex;
    padding: 0px 10px;
    padding-top: 13px;
    padding-bottom: 40px;
    justify-self: center;
    gap: 8px;
    justify-content: space-between;
    
}
#colorlist > button {
    
    border: 2px solid white;
    border-radius: 10%;
    padding: 16px 16px;
}
.selectedcolor {
    outline: 4px solid black;
}
#curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(59 71 103 / 39%);
    z-index: 88;
}

.sessiontimedetails > div,
.tasktimedetails > div{
    float: left;
    width: fit-content;
    margin-right: 15px;
}
.sessiontimeinput,.tasktimeinput{
    max-width: 100px;
    color: #8AA3AA;
    border-radius: 6px;
    border: 2px solid #8AA3AA;
    
}