h2 {
    font-weight: 500;
    color: black;
}
fieldset {
    border-style: none;
}
body {
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top: 0%;
    background-color: #D0F1FF;
}#backbutton{
    font-weight: 500;
    font-size: 23px;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 9px;
    padding: 7px  30px;
    margin-right: 20px;
}
#backbutton:hover {
    outline: 3px solid white;
    outline-offset: -6px;
}

#pagetitle {
    align-content:center;
    height: 100%;
    font-size: clamp(1%,27px,27px) ;
    text-shadow:  1.6px 1.5px 0.4px  #dddddd;
}


#contentcontainer {
    padding: 15px;
    width: 500px;
    position: absolute;
    justify-self: center;
    background-color: white;
    border-radius: 20px;
    outline-style: dashed;
    outline-color: rgb(153, 218, 231);
    outline-width: 3px;
}
#contentcontainer > hr {
    margin-top: 15px;
    border-style: solid;
    border-color: #D0F1FF;
 }
#tablist{
    height: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
#tablist > div{
    padding: 2px 8px;
    border-radius: 5px;
    align-self: center;
}
.clickedtab, #tablist > div:hover {
    outline: 3px solid #8AA3AA;
}

#contentcontainer > div {
    width: 98%;
    justify-self: center;
}

#tabcontent {
    min-height: 370px;
}

#tabcontent > div {
    width: 100%;   
}

#upcomingsessions,#duetasks,#joinedgroups{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: start;
}
#sessionref,#taskref,#groupref,.tablistelement{
    display: flex;
    flex-direction: column;

    padding: 6px;
    padding-left: 13px;
    border-radius: 13px;
    align-self: center;
    border: 3px solid #8AA3AA;
    width: 95.8%;
    min-height: 90px;
}
.sessiontitle,.grouptitle ,.tasktitle {
    align-content: center;
    height: 100%;
    font-size: 13px;
    font-weight: 500;
    color: black;
    float: left;
}

.sessiondetails,.taskdetails,.groupdetails {
    font-size: 13px;
    color:#8AA3AA;
    margin-top: 7px;
    margin-bottom: 7.5px;
}
.taskdetails,.groupdetails{
    margin-bottom: 0px;
}
.sessiondetails > div,
.taskdetails> div ,
.groupdetails > div {
    align-items: center;
    height: 17.6px;
    float: left;
}
.groupmembers{
    max-width: 150px;
    margin-right: 8px;
    margin-left: 8px;
    float: left;

}
.creationdate{
    float: left;
    margin-left: 8px;
}

.task{
    display: flex;
    flex-direction: column;

    padding: 6px;
    padding-left: 13px;
    border-radius: 13px;
    align-self: center;
    border: 3px solid #8AA3AA;
    width: 95.8%;
    min-height: 90px;
    transition: border-color 0.5s ease;
}

.taskduedate,.taskduetime ,.sessionattendees,.sessiondate,.sessionlocation,.sessiontime,.taskassignees{
    float: left;
    margin-left: 7px;
}
.taskassignees{
    max-height: 35px;
    max-width: 220px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.sessiondesc,.taskdesc,.groupdesc {
    overflow-wrap: break-word;
    background-color: #D0F1FF;
    color: #667a80;
    align-content: center;
    padding: 2px 1.8%;
    min-height: 25px;
    font-size: 14px;
    width: 95.5%;
    border-radius: 6px;
    margin-top: auto;
}

.groupsubject{
    overflow-wrap: break-word;
    align-content: center;
    min-height: 25px;
    font-size: 14px;
    width: 95.5%;
}
.groupheader{
    
    align-content: center;
    
}
.profileimage{
    height: 23px;
}
.isprivate,.ispublic,.StudyLevel {

    text-align: center;
    float: right;
    background-color: #D0F1FF;
    border-style: none;
    padding: 1.7px 7px;
    border-radius: 5px;
    margin: 0px 2px ;
    width: fit-content;
}
.isprivate {
    background-color: blue;
    color: white
}

.StudyLevel, .HighShool{
    align-self: center;
    font-size: 10px;
    margin-right: 10px;
    padding: 1.5px 7px;
    color: rgb(61, 61, 234);
    background-color: #c1f2ff;
}

.Bachelor {
    color: rgb(234, 156, 61);
    background-color: #ffe9c1;
}
.Master {
    color: rgb(234, 61, 61);
    background-color: #ffc1c1;
}

.taskdesc{
    background-color: transparent;
    color: #748b92;
    padding: 0px 1.8%;
    font-size: 13px;
    margin-top: 0px;
}

.pendingbutton,.inprogressbutton,.completedbutton{
    background-color: #D0F1FF;
    border-style: none;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 3px;
    font-size: 12px;
}
.selectedstatus {
    background-color: rgb(9, 148, 255);
    color: white;
}
.redbutton,.attendbutton,.unattendbutton,.deletebutton,.kickbutton{
    margin-left: 7px;
    float: right;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #eb2929;
    height: fit-content;
    width: fit-content;
    padding: 4px 5px  ;
}
.redbutton:hover,.attendbutton:hover,.unattendbutton:hover,.deletebutton:hover,
.kickbutton:hover,.declinebutton:hover,.acceptbutton:hover{
    outline: 2px solid white;
    outline-offset: -4px;
}
.successmessage {
    color: rgb(102, 222, 16)
}

.whitebloc {
    width: 80%;
    border-radius: 9px;
    background-color: white;
    outline-style: dashed;
    outline-color: rgb(153, 218, 231);
    outline-width: 3px;
}

#body {
    
    position: absolute;
    top: 110px;
    background-color: transparent;
}
#topbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #dddddd;
    z-index: 90;
}